* {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.app {  min-width: fit-content;}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5vh;
  background-color: #F55A5A;
  width: 100%;
}

.navbar--tittle {
  color: white;
  font-weight: 700;
}

.navbar--logo {
  padding-right: 0.5rem;
  width: 1.25vw;
  color: white;
}

.place-cards {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
}

.card {
  display: flex;
  padding: 0.5rem;
  width: 48vw;
}

.card > .card--info{
  align-items: center;
}

.card--badge {
  position: absolute;
}

.card--badge > img{
  padding: 0.5rem;
  opacity: 90%;
  width: 15%;
}

.card--image {
  height: 25vh;
  border-radius: 16px;
}

.card--info{
  padding: 16px 32px;
}

.card--location {
  display: flex;
}

.card--icon {
  height: 1.3vh;
}

.card--place-location {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding-left: 0.7rem;
  padding-right: 1.5rem;
}

.card--link {
  font-size: 0.65rem;
  color: #918E9B;
}

.card--place-name {
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 32px;
}

.card--description {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: -0.02rem;
  color: #2B283A;
}